In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('Metro_Interstate_Traffic_Volume.csv')

In [3]:
df['date_time'] = pd.to_datetime(df['date_time'])

In [4]:
df['date'] = df['date_time'].dt.date

In [5]:
df['time'] = df['date_time'].dt.time

In [6]:
df.drop(columns = ['date_time'], inplace = True)

In [7]:
df = df.fillna('None')

In [8]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume,date,time
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012-10-02,09:00:00
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012-10-02,10:00:00
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012-10-02,11:00:00
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012-10-02,12:00:00
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012-10-02,13:00:00

In [9]:
df.to_csv('data_cleaned.csv')